[2021-02-17 13:06] bidoubiwa opened #2 "MVP of this plugin"
# MVP

- [x] Downloadable plugin (package manager)
- [x] Communication with a running MeiliSearch
- [x] Interface with the following:
    - [x] Add host and keys
    - [x] Ability to chose which collections should be indexed in MeiliSearch
    - [x] Every time a collection is updated, the updated element should be updated in MeiliSearch as well (hook to add, edit and delete)
    - [x] Possibility

[2021-02-17 13:48] bidoubiwa opened #3 "Create architecture"
On the project architecture there should be the following:

- `./meilisearch`: the content of the plugin
- `./playground`: the Strapi playgrounds used to develop the plugin in watch mode

[2021-02-17 13:50] bidoubiwa opened #4 "Create proper README"
The README should explain how to launch the strapi plugin and add it to your own project.

This might be at first using git clone and once we have added it to the npm package manager we will update the README accordingly.

[2021-02-17 13:50] bidoubiwa opened #5 "Add linter"
Add a linting tool and style tests to keep the code base clean

- eslint
- editorconfig
- bors
- dependabot

[2021-02-17 13:51] bidoubiwa opened #6 "Add a contributing guide"

[2021-02-17 14:10] bidoubiwa opened #7 "Step 1 of plugin developement"
- [x] Create architecture #3
- [x] Add linter #5
- [x] README #4
- [x] Contributing guide #6
- [x] Base CI with build and style #14
- [x] Bors

[2021-02-17 14:17] bidoubiwa opened #8 "Create back-end communication with MeiliSearch"
Methods should be added and tested to ensure we can properly communicate with MeiliSearch from the back-end side of the plugin.

- Client creation
- Index CRUD
- Documents CRUD

[2021-02-17 16:40] curquiza commented on #6
Use https://github.com/meilisearch/integration-guides/blob/main/templates/CONTRIBUTING.md 😇

[2021-02-18 15:44] bidoubiwa opened #9 "Back-end communication with MeiliSearch"
Functions need to create first communication with MeiliSearch

[2021-02-18 15:45] bidoubiwa opened #10 "Base UI elements"
Add the following UI elements:
- Host and Keys
- Index name input
- Documents input json

[2021-02-18 15:46] bidoubiwa opened #11 "STEP 2: Connecting with MeiliSearch"
- [ ] #10 Base UI elements
- [ ] #9  Back end communication with MeiliSearch

-> This Creates a working version of MeiliSearch on Strapi but does not communicate with strapi yet

[2021-02-18 17:19] bidoubiwa opened #12 "Add testing"
Find a way to tests both back-end and generated UI.

- e2e
- Integrations tests

[2021-02-18 17:19] bidoubiwa opened #13 "Link Collections with MeiliSearch"
Replace previously input tag with a direct possibility to chose a Collection to index to MeiliSearch
- User chooses a collection amongst all its displayed collections
- Communication is done to MeiliSearch that gets index names (Collection name) and its documents
- Create UI where all collections are shown

[2021-02-18 17:23] bidoubiwa opened #14 "Add CI with test and linting"
- Should we add a docker of MeiliSearch to ensure a e2e test?

[2021-02-18 17:25] bidoubiwa opened #15 "STEP 3: Strapi Communicates with MeiliSearch"
- #12 Add tests
- #14 CI with tests and linter
- #13 Link Collections to MeiliSearch

[2021-02-18 17:36] bidoubiwa opened #16 "STEP 4 Add hooks and multiple indexes"
- [ ] #18 Add hooks
- [x] #17 Add multiple indexex

[2021-02-18 17:37] bidoubiwa opened #17 "Add multiple collections to MeiliSearch"

[2021-02-18 17:38] bidoubiwa opened #18 "Add hooks on collections"
Add a listener on GET/POST/PUT/DELETE

[2021-02-23 10:57] bidoubiwa opened #21 "Update contributing according to new features"
Contributing in its state will have the following missing elements
- [ ] build
- [ ] tests
- [ ] release process

These should be completed every time they can

[2021-02-23 12:59] bidoubiwa opened #23 "Change header to default MeiliSearch repo headers"
For example like this one: https://github.com/meilisearch/meilisearch-js

[2021-02-23 13:32] curquiza commented on #23
https://raw.githubusercontent.com/meilisearch/integration-guides/main/assets/logos/meilisearch_strapi.svg

😄

[2021-02-23 14:19] curquiza opened #24 "Add the release drafter"
https://github.com/meilisearch/integration-guides/blob/main/guides/release-drafter.md
This would be helpful in managing the changelogs

[2021-02-23 14:23] bidoubiwa commented on #24
I could add the release drafter without having a package manager I suppose?

[2021-02-23 14:25] curquiza commented on #24
Yes, it is only to make the draft of the GitHub release :) Nothing else

[2021-02-23 14:52] #6 closed

[2021-02-23 14:52] #7 closed

[2021-02-23 14:52] #3 closed

[2021-02-23 14:52] #4 closed

[2021-02-23 14:52] #5 closed

[2021-02-23 14:52] #14 closed

[2021-02-23 14:56] bidoubiwa commented on #24
Should we start before there is a working version?

[2021-02-23 16:03] curquiza commented on #24
No, this is one of the final steps I think ;)

[2021-02-25 15:23] bidoubiwa opened #37 "Improve error handler"
- [ ] Hide API key in error message when API key is wrong
- [ ] Make error visual more comprehensive

[2021-02-25 16:10] bidoubiwa opened #38 "Clean repo"
- [ ] remove inspirationnal plugins

[2021-03-03 09:53] #9 closed

[2021-03-03 09:53] #10 closed

[2021-03-03 09:53] #11 closed

[2021-03-04 15:51] bidoubiwa commented on #8
duplicate #9

[2021-03-04 15:51] #8 closed

[2021-03-04 15:53] bidoubiwa opened #40 "Add search preview un plugin landing"
It would be nice to have to have a preview of the search directly in the landing of plugin.

We could use /meilisearch/instant-meilisearch

[2021-03-04 15:54] bidoubiwa opened #41 "Move credentials to strapi settings"
As for now credentials are displayed on the plugin page. They should maybe be moved to the settings page of Strapi

[2021-03-04 15:55] bidoubiwa opened #42 "Handle many to many to avoid indexing a whole object"
By making the user only chose one field of the related collection we avoid indexing whole objects

[2021-03-04 15:56] bidoubiwa opened #43 "Remove credentials store if the plugin is uninstalled"
I dont know if this is possible, i'm not sure but for security measures it would be best if the store was emptied of its useless key/values. I think this may be a job for the strapi repo and not ours.

[2021-03-04 16:16] bidoubiwa opened #44 "Hide MeiliSearch master key"
MasterKey should not be visible on the dashboard. It can only be updated

[2021-03-08 21:10] bidoubiwa opened #58 "Add previewed rows as well"
Add an option to add both published rows and draft rows as for now, only published rows are indexed in MeilISearch.

With `draft` rows
[code]

Without `draft` rows
[code]

[2021-03-09 08:16] bidoubiwa opened #59 "Add prettier to repository"
Prettier has been forgotten when adding the l'inter and should be added!

[2021-03-09 08:22] bidoubiwa opened #60 "Add collections documents in batches"
For now all documents of collections are added in one push on MeiliSearch. This is not an issue until the dataset in the collection is massive. In which case the document addition should be split in batches. This behaviour could be added by default, where we always send documents with batches of 1000 documents.

- [ ] change addDocuments pushes with batches of 1000 documents
- [ ] change wait for

[2021-03-09 08:23] bidoubiwa opened #61 "Small blinking on collection addition on meilisearch"
When adding a collection to meilisearch there is a small blinking on the screen. It could be caused because of strapi lock app function

[2021-03-10 09:48] bidoubiwa opened #62 "Change linking to components"
I would like to avoid having to use links like this
[code]

But would rather do the following:

[code]

It is possible by changing the compiler options on a strapi app but the plugin is not compiled independently.

[2021-03-10 12:51] #13 closed

[2021-03-10 12:51] #17 closed

[2021-03-11 12:03] bidoubiwa opened #64 "Add integrations tests"
e2e tests have been added but we should probably add intégrations and unit tests as well to try out the back-end API.

Because of the global variables it's hard to mock everything. Which leads to complex mocking to be able to test all methods.

[2021-03-11 18:20] #12 closed

[2021-03-11 18:20] #15 closed

[2021-03-16 14:57] bidoubiwa opened #79 "Add automatic check of hook presence"
When scanning for collection in MeiliSearch, a check should be made to guarantee the presence of hooks in order to inform the user.

[2021-03-25 12:40] bidoubiwa opened #83 "Ask in a modal for user to reload on Collection addition"
Using the `Modal` component provided by `strapi-helper-plugin`

A Modal should be created an open whenever a reload is needed on Collection addition on MeiliSearch

1. Add a collection to MeiliSearch
2. Modal opens asking for reload to activate hooks
3. Possibility to say no -> closes modals
4. Possibility to say yes -> Reload server

If option `3` is chosen the option to reload the server with th

[2021-03-25 12:42] bidoubiwa opened #84 "Reload server should bring back to plugin page"
Whenever a user clicks on `reload button`

<img width="1389" alt="Screenshot 2021-03-25 at 10 59 10" src="https://user-images.githubusercontent.com/33010418/112474281-b4d9f000-8d6f-11eb-9ac2-605660e765d3.png">

The app is completely rebooted and the user is redirected to the sign-in page of the admin dashboard.
But when the user adds a new Content-Type, the reload bring the user back to the conten

[2021-03-25 12:44] bidoubiwa opened #85 "Handle multi languages plugin"
## Problem

For now the plugin only works in English as the text has been hard-coded inside the different components.

## Solution

Strapi provided a very good way to handle multiple languages.
It has been tried in the header of the MeiliSearch plugin `meilisearch/admin/src/containers/HomePage/index.js`

[code]

The text is imported from `meilisearch/admin/src/translations`.

We should change all

[2021-03-25 12:51] bidoubiwa opened #86 "Ensure fetching of collections rows is done using the controller"
When adding a collection to MeiliSearch it fetches the rows using the service methods:

[code]

If this is using the models instead of the controller we might miss on data transformation that has been added by the strapi user.

[2021-03-28 09:44] bidoubiwa opened #88 "Hooks are not adding more than 100 documents on afterCreate"
As it appears when adding a huge dataset to MeiliSearch it stops at 100 entries.
As this is not the expected behavior it is a bug.

[code]

@MANTENN , lets continue here!

Could you try the following:
1. Add your documents using the hooks
2. Bug appears! there are only 100 entries.
3. Using your meilisearch credentials try this route: https://docs.meilisearch.com/reference/api/updates.html#get-all

[2021-03-28 17:48] bidoubiwa opened #89 "Make it possible to add Collection to MeiliSearch without dashboard"
To add collections to MeiliSearch, the proposed method is to go on the MeiliSearch plugin page that is visible on your homepage.

Once there, after adding the right credentials clicking on the checkbox of your collection will add it to MeiliSearch.

It should also be possible to do the exact same process without having to use the dashboard but by using the appropriate routes:
`POST /services/meili

[2021-03-29 20:34] bidoubiwa opened #103 "Make e2e tests on all possible environments"
As of today tests are only done on `strapi start` in `no-reload` mode.
It would be better if we tried the following as well
- strapi develop
- strapi develope --admin-watch
- NODE_ENV=production strapi start

I tried adding this to the yaml file as it works locally but at the second tests it fails:
[code]

Maybe they just need to be separated in a different job each?

[2021-03-30 16:56] #79 closed

[2021-03-30 16:56] #16 closed

[2021-03-30 16:56] #18 closed

[2021-03-30 16:56] #58 closed

[2021-03-30 16:56] #84 closed

[2021-03-31 19:40] MANTENN commented on #88
I created a new branch as requested. Saved the files without a linter. I will just paste the code here considering my linter runs with git hooks will take more time again to make an another repo.

`/config/functions/bootstrap.js`
[code]

`controllers/meilisearch.js`
[code]

 That's for the queue

 Without the queue it's still only with 100 records. The reason being is that Strapi model fetches the

[2021-04-01 18:25] #23 closed

[2021-04-01 18:25] #24 closed

[2021-04-01 18:25] #21 closed

[2021-04-01 23:34] MANTENN commented on #88
Just a suggestion. It might be better to build a rust-based ingestion module that would run alongside meilisearch instance this way the implementation would be a lot simpler: a single source of truth(codebase), rest API to ingest, etc.

[2021-04-02 10:27] bidoubiwa commented on #88
No jThanks a lot for the detailed explanation.

I see the issue. That's very limitating. I will make a PR with a fix suggestion.

Your pagination approach is a very good one! About the queue, MeiliSearch is asynchronous and works with a queue. So it should never take long to receive the response of the add document request. We could send 100 documents per 100 documents batches to MeiliSearch durin

[2021-04-02 20:22] MANTENN commented on #88
@bidoubiwa Yes, I noticed the ingestion is queued with Meilisearch when I first implemented the queue.

#60 sounds like queuing records

You still need a queue to fetch records from the database to make sure the plugin isn't taking up too much Strapi resources so it would make sense to just make an ingestion module with Rust lang, Go Lang, etc. whichever would be faster to develop. Hence why I sug

[2021-04-02 21:16] bidoubiwa commented on #88
Hello! I see :) This is a good suggestion. Could you maybe make an issue on meilisearch/meilisearch ?

Ah yes, big datasets may suffer from all these fetches! Your suggestion addresses this problem. Until your suggestion is created, we could think about some configuration where you can add some redis credentials and activate the queing of the fetching.

There is also another solution. You can crea

[2021-04-10 18:45] bidoubiwa commented on #83
Has been fixed by #77

[2021-04-10 18:45] #83 closed

[2021-04-10 18:52] #2 closed

[2021-04-12 12:58] #60 closed

[2021-04-12 12:58] #88 closed

[2021-04-12 13:18] bidoubiwa opened #112 "Make it possible to chose which sub-fields of the related collection we should keep"
## Problem

If you have a collection in Strapi that has a relation with another collection, once you index it to MeiliSearch the output is the following:

[code]

But for MeiliSearch to create [facets](https://docs.meilisearch.com/reference/features/faceted_search.html) the best way would be to transform the restaurants object into the following:

[code]

## Solution

It would be better that on in

[2021-04-13 10:18] bidoubiwa opened #115 "Update cypress to v7"
To update the cypress version to v7 in this repository breaking changes must be fixed!

[2021-04-13 10:34] #59 closed

[2021-04-14 10:15] curquiza opened #117 "The screenshotw in README are outdated"
The screenshots in the README are outdated since the interface changed.

[2021-04-21 09:32] VivianSolide opened #122 "Meilisearch can't work with Strapi single type content"
[code]

Hi there,

I spotted an issue inside numberOfRowsInCollection function.
Indeed, I get `strapi.services[collection].count is not a function`
But if I the function returns 1 it works.

The problem comes from Strapi single type content.
In my case, I had an Home Page single type content.
Once removed, it's perfectly fine.

It's only because, you can't count on a Strapi single type content.

N

[2021-04-21 11:42] bidoubiwa commented on #122
@VivianSolide thanks a lot for reporting this issue.
I will definitely try it out.

[2021-04-22 14:50] bidoubiwa opened #124 "How to handle single types"
Appart from `Collection types` in Strapi, that acts as a SQL table with many rows, there are also `single types`.

Collection types are added straightforwardly to MeiliSearch as we just index all rows.
But single types are only composed of one element.

The use case of single types are mostly content manager if I understand correctly. Meaning that one type represent the content of one element.

We

[2021-04-22 15:20] #122 closed

[2021-04-23 09:47] bidoubiwa opened #126 "Show addDocuments error when they happen on the dashboard"
When adding documents, if it fails, it fails silently. An error should be raised properly

[2021-05-14 13:27] tadinski opened #156 "Add confirmation prompt to avoid accidental removal of an index"
In the plugin page, clicking on any row of the index will uncheck the index and remove it.

It is very easy to lose all the manual index settings just by an accidental click. Adding a confirmation prompt will avoid such situations.

[2021-06-01 20:11] LucasSToledo opened #176 "MeiliSearchApiError: request , it doesn't matter whether or not a "masterKey" is passed."
Bug when trying to update a collection after configuring MeiliSearch.
It doesn't matter whether or not I create a "masterKey". The error "Could not connect with MeiliSearch ECONNREFUSED" is always returned.

How to reproduce. Run MeiliSearch passing parameter "MEILI_MASTER_KEY=masterKey" in development environment. When trying to add the collections to index the error mentioned above is reported.

[2021-06-02 16:02] bidoubiwa commented on #176
Hello @LucasSToledo
It does not seem to come from the `masterKey` but from the instance of meilisearch. On what address is your meilisearch running?

[2021-06-05 19:44] shadracnicholas opened #178 "ERROR: Cannot destructure property 'updateId' of '(intermediate value)' as it is undefined."
**Current behavior**
The bellow error gets thrown when trying to reload the server after adding a the plugin on search. Hooks section is stuck at "Realoded Needed"

**Logs**

This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The promise rejected with the reason:
TypeError: Cannot destructure pr

[2021-06-05 19:47] shadracnicholas commented on #178
Upgrading to version 0.3.1 solved the issue.

[2021-06-05 19:47] #178 closed

[2021-06-07 12:17] LucasSToledo commented on #176
Hi @bidoubiwa , You're right!
I was running on docker and forgot to associated the network between the services. Thank you.

[2021-06-08 11:32] bidoubiwa commented on #176
I'm happy it solved the problem :)

[2021-06-08 11:32] #176 closed

[2021-06-21 15:07] bidoubiwa opened #191 "Create a permission system"
**Description**
Create the possibility to limit the access/possibilities to MeiliSearch plugin.

**Basic example**
In `settings>roles` it is possible to limit the permission of a role to certain plugins. MeiliSearch does not have that possibility as for now.

[2021-06-22 15:20] ghassanachi opened #192 "[Discussion/Proposal] Make strapi-plugin-meilisearch client agnostic (ie: strapi-plugin-search)"
I'm currently working on a Strapi project that requires search-engine integration. My initial plan was to go with Meilisearch, but unfortunately  the project is heavily dependent on GeoLocation queries. I am thinking of turning to Typesense for now before switching back to Meilisearch when GeoLocation queries are added.

With that in mind I was a little sad to find out that there were no Typesense

[2021-06-23 17:46] bidoubiwa commented on #192
Hello @ghassanachi thanks so much for taking time to develop your idea and for you very kind words. I think your initiative is very good but it does raise some problems:

- The plugin has `meilisearch` written on it so it's already not agnostic in its name
- The plugin would gain in complexity if it has to be configurated by the users. Whereas today you don't need configuration.
- The plugin still

[2021-06-23 18:31] ghassanachi commented on #192
Thanks for the prompt reply.

I'm not sure I'll have the time in the upcoming weeks to work on the refactor, but if/when I do I'll make sure to let you know.

Thanks again for all the great work, on this project and Meilisearch in general.

I'll leave it up to you to close this issue.

[2021-06-23 19:13] #192 closed

[2021-06-24 17:14] taker93 commented on #112
In the meantime: What are options to have facets work for anything like that?

[2021-06-26 09:19] tvvignesh commented on #124
I have the same need as well. I am able to index the collection types properly without any issues but need a way to index single types as well. Any help appreciated.

[2021-06-27 04:53] tvvignesh opened #193 "Multi index search with Strapi and Meilisearch"
**Description**
Hi 👋🏼 I have been using Strapi for some time now and am currently working on integrating `strapi-plugin-meilisearch` to implement Search in the website.

While I am able to get it working with React Instantsearch and Strapi, I see that every collection becomes its own index so to do a search across multiple collections if I want to implement a global search, I have to implement a m

[2021-06-28 07:56] bidoubiwa commented on #124
Hey @tvvignesh, what do you think would be the best option amongst the one mentioned above ?

[2021-06-28 08:10] tvvignesh commented on #124
@bidoubiwa I guess option 3 would make sense for single types considering they can all be grouped together, but 2 should work as well.

As long as I can access the index and get the data, it shouldn't be an issue.

[2021-06-29 13:34] bidoubiwa commented on #115
Add linting of cypress  see [strapi](https://github.com/meilisearch/strapi-plugin-meilisearch/blob/main/.eslintrc.js)

[2021-06-30 21:06] ablaas opened #205 "Option to exclude DRAFT documents from Index"
**Description**
When creating the index, there should be an option to exclude "DRAFT" documents from the Index.
It has to be an option, as this is good for the customer-front-facing web app so we don't show unpublished documents BUT if we are creating a search functionality in a "Custom made Strapi Admin", I'm sure we would like to query the index with all the documents (as done today).

**Basic e

[2021-07-01 17:19] taker93 commented on #112
Ok, so for now I found a workaround to make facets on relations work:

When you've created your post types go to your strapi `/api/<CONTENT_TYPE>` folder. In there your should find 4 folders:

- `config`
- `controllers`
- `models`
- `services`

Go to the `services` folder and open your `posts.js`.

In there you can customize how posts are read from the database. As the meilisearch plugin is using

[2021-07-05 13:45] ablaas commented on #112
This is a very interesting improvement.
Usually, categories, tags, or other structured content will come from relationships, and being able to add to the index those fields as facets gives us lightnin' fast filtering over the collections, without the hassle of creating nested GraphQL queries

[2021-07-05 15:00] ablaas commented on #112
Great workaround... thanks @taker93 !!!!

[2021-07-06 13:50] liamb13 commented on #193
At this stage, it's currently not possible with MeiliSearch: https://roadmap.meilisearch.com/c/74-multi-index-search

Until implemented, the only thing I could think that might be worthwhile is to merge all strapi collections into a single meilisearch index.

[2021-07-06 16:33] bidoubiwa commented on #193
@liamb13 could you make an appart issue suggesting this solution?

[2021-07-07 10:45] tvvignesh commented on #193
@liamb13 Thanks for letting me know. Regarding merging them all to a single index, can you point me to a reference for the same? I am not sure how to do that considering Meilisearch creates separate index for every collection by default.

[2021-07-08 18:42] taker93 commented on #205
It seems that the plugin sends drafts and published models to meilisearch because of the implementation of the fetchRowBatch-Method inside meilisearch.js, as it is setting `_publicationState` to `'preview'`.

https://github.com/meilisearch/strapi-plugin-meilisearch/blob/843aa801a675879dac0f8a7bd5bd15be765d0f77/controllers/meilisearch.js#L125

I was able to solve it by overriding the meilisearch.js

[2021-07-09 21:25] sargreal opened #211 "Call hooks on content-types to change documents"
**Description**
When creating/updating an index, the strapi user should be able to change or convert the document structure of the document before it is submitted to the meilisearch index. This can be used to allow searching through connected content-types as well, since meilisearch currently can not search in nested data structures (except for arrays of strings with faceted search)

**Basic examp

[2021-07-13 15:19] liamb13 commented on #193
@tvvignesh, a good friend and developer @mattiebelt just created the following: https://github.com/MattieBelt/strapi-plugin-meilisearch

Thus far, I haven't had much time to play but it's working well for me at this stage!

![image](https://user-images.githubusercontent.com/69778531/125477920-64338131-cda2-460d-8eea-212878500204.png)

The above is searching across 3 Strapi collections:
- Articles

[2021-07-15 15:23] #205 closed

[2021-07-19 14:16] anatintescu opened #218 "Timestamps in search"
Hi all! I've just integrated strapi-plugin-meilisearch "^0.3.2" in my blog app (with fe in NextJs; in FE I use"meilisearch": "^0.19.0").  I want to impleement the search in my Article entity. Is there a way I can make the search method return also the auto-generated timestamps from Strapi (created_at, published_at)? I tried to specify these fields in the displayedAttributes , but it doesn't work.

[2021-07-19 14:59] mgaviola1 opened #219 "Need to add facets settings through the plugin"
Hi, it would be great if you could add a setting to add facets to the meilisearch instance, right now if I'm using the plugin there's no way to define them and I have to add them through cURL or other language.

[2021-07-29 10:39] bidoubiwa commented on #218
It is absolutely possible. They are voluntarily removed because I thought they would not be necessary.

[2021-07-29 10:41] bidoubiwa commented on #211
This is a good idea, I will look into it and consider the feature and its implementation

[2021-08-13 14:36] atintescu commented on #218
@bidoubiwa ,could you help me add them?

[2021-08-18 14:45] CaroFG commented on #218
Hi! I've had feedback from users who want to be able to use the sortBy with these fields, maybe we should consider transforming those fields into timestamps too? WDYT?

@atintescu from what I see, all the logic is in the `./services/http.js` file  🙂

[2021-08-19 11:50] bidoubiwa commented on #218
(sorry I was on vacation)

I don't think it is a good idea to change the format of the data before sending it to MeiliSearch. User's might want to keep it in their original form. A solution to that is the user creating its own `created_at_timestamp` where he converts `created_at` when it is being updated. This is possible using [lifecycles hooks](https://strapi.io/documentation/developer-docs/late

[2021-08-26 04:46] Grassper opened #248 "Show popup to select field to index."
Hi, It could be nice to have a pop up to select a particular field in the document to index.
Instead of indexing all fields of the document.

[2021-08-26 13:29] PixeledCode opened #249 "Sanitize the field to remove html tags before saving for search."
**Description**
Currently for people using CKEditor, using Meilisearch creates a lot of html tags in Meilisearch result as well. That's not really ideal and creates a lot of issues when using other Meilisearch features like crop etc.

**Basic example**
In my current project, I'm using CkEditor as rich text content editor but it outputs html tags which although is great for my usecase, creates a lo

[2021-09-12 09:22] FREEZX opened #263 "Localization support"
**Description**
The plugin should support the new Internationalization feature introduced in strapi 3.6. Right now, it seems like only the default locale's results are being indexed.

**Basic example**
In my case, I have content in two languages. The strapi meilisearch shows the count for only the default language and only indexes that content. There's a "hack" that allows me to bypass this behavi

[2021-09-12 09:31] FREEZX opened #264 "Saving strapi item adds it to index without any checks"
**Description**
Saving any strapi item adds it to the index without checking it's published state, if it's the right locale, etc. So running "Update" in the meilisearch plugin gives different results than using strapi normally.

**Expected behavior**
When I save a draft item, it should not go in the index.
When I save an item in a locale which is not indexed by refreshing the indexes, it should no

[2021-09-13 00:09] harish2704 commented on #249
Hi All, PR #265 addresses this issue

[2021-09-13 00:13] harish2704 commented on #218
PR #265 allow us to take full control over what is to be sent to search engine for indexing .
This way , we can address these kind of issues without changing hard-coded default behavior

[2021-09-13 00:15] harish2704 commented on #42
PR #265 addresses this issue I think

[2021-09-13 00:17] harish2704 commented on #112
I think #265 is related to this

[2021-09-13 00:20] harish2704 commented on #193
PR #265 can also allow composite index

[2021-09-13 18:36] bidoubiwa commented on #263
Hello @FREEZX
This should definitely be added!

Strapi's plugin will receive some upgraded as soon as some important tasks have been done in other meilisearch repo's. Meanwhile if someone wants to integrate a solution to this problem feel free to do so and ask any question on how to.

[2021-09-13 18:39] bidoubiwa commented on #264
@FREEZX thanks for this issue as well!

You are right, we only check for the publish state when indexing the whole collection.
What are the other parameters we should check before indexing the row to MeiliSearch?

[2021-09-18 17:12] paulpopus commented on #264
Could that not be a custom setting? I'm thinking ahead of things like editorial workflows where content might go in various stages before "publicly published" if that makes sense.

[2021-09-20 09:05] bidoubiwa commented on #264
It could be an option. We can give the possibility to the user to add a wrapper function around the function that adds the documents to MeiliSearch. This should be a bit further discussed on the best way we can achieve that with strapi's API and also if it will not made easier with strapi 4 as we will eventually focus our attention more on strapi 4.

[2021-09-20 09:12] paulpopus commented on #264
That sounds like a good approach.

Depending on when Strapi 4 releases, I think the minimum expectation would be that Drafts don't get indexed even for V3.

[2021-09-20 10:47] paulpopus commented on #264
In the meantime if someone needs a quick fix for production, I've attached a patch below. You can use the [patch-package](https://www.npmjs.com/package/patch-package) node module to apply this patch. Copy this code into `patches/strapi-plugin-meilisearch+0.3.3.patch`

[code]

[2021-09-22 12:09] ewilan-riviere opened #268 "Manage users from strapi-plugin-users-permissions"
**Description**
I would to manager users from [strapi-plugin-users-permissions](https://strapi.io/documentation/developer-docs/latest/development/plugins/users-permissions.html) from [github.com/strapi/strapi/tree/master/packages/strapi-plugin-users-permissions](https://github.com/strapi/strapi/tree/master/packages/strapi-plugin-users-permissions). This plugin create an entry `Users` into `Collect

[2021-09-22 15:37] bidoubiwa commented on #268
Hello! This is related to #191
It is planned :)

[2021-09-28 07:56] paulpopus commented on #219
@bidoubiwa In the meantime, is there a recommended programmatic way to do this, even if its patching the plugin? Or is CLI the best option?

[2021-09-28 12:11] bidoubiwa commented on #38
Fixed!

[2021-09-28 12:11] #38 closed

[2021-09-28 12:14] bidoubiwa commented on #41
fixed: #189

[2021-09-28 12:14] #41 closed

[2021-09-28 12:31] bidoubiwa commented on #126
related to #37

[2021-09-28 12:37] bidoubiwa commented on #248
related: #211

[2021-09-28 14:04] bidoubiwa opened #270 "Check for published state before indexing a row"
related to #264

It is suggested as an MVP before adding a system that gives the opportunity to the user to create custom condition, to create a simple `published` check before indexing a document.

See [this comment](https://github.com/meilisearch/strapi-plugin-meilisearch/issues/264#issuecomment-922754509)

And [this comment](https://github.com/meilisearch/strapi-plugin-meilisearch/issues/264#is

[2021-09-28 14:08] bidoubiwa opened #271 "Migrate plugin to strapi V4"
Once some issues have been fixed, the migration to Strapi V4 will start.

Here are [the issues](https://github.com/meilisearch/strapi-plugin-meilisearch/issues?q=is%3Aopen+is%3Aissue+label%3Astrapi-v4) that will be fixed before the migration.

Here is the complete list of the changes in v4 concerning the [plugin API](https://plugin-api-rfc.vercel.app/)

[2021-10-02 05:33] abhijeet007rocks8 commented on #85
@curquiza Is there list of files/file on which refactoring needs to be done?
Also can you explain the last part in issue description like where should that be added ?

[2021-10-02 14:09] curquiza commented on #85
Hello @abhijeet007rocks8, I let @bidoubiwa explains this since it's her issue and she's the maintainer of the repo 🙂

[2021-10-04 08:09] bidoubiwa commented on #85
hey @abhijeet007rocks8 ! I assign you to this issue :)  If you want to find out how to do the translation system I advise to look et this plugin that implemented it:
https://github.com/alexzaganelli/strapi-plugin-email-designer/tree/main/admin/src/translations

Example:
[code]

[2021-10-04 19:25] DiySane commented on #263
Hi @bidoubiwa , can you please assign this to me?

[2021-10-05 09:08] bidoubiwa commented on #263
Hello @DiySane
This specific PR will be completed in a batch of upgrades I will implement. Thanks a lot for giving interest in this project!

[2021-10-05 09:34] DiySane commented on #263
Thanks for letting me know! Just keep me posted if you see anything else
coming up.

On Tue, Oct 5, 2021 at 2:38 PM cvermand ***@***.***> wrote:

--
Thanks,
Dwaipayan

[2021-10-05 15:19] joremysh commented on #44
I would like to work on this.
Do u mean this column should not reveal the API key?
![image](https://user-images.githubusercontent.com/7455516/136052298-75eddf2c-72fb-454e-a2c5-f10dafed439c.png)

[2021-10-06 09:35] alfie-bowen commented on #42
@harish2704 I've implemented #265 locally, and although it does affect how an index is stored correctly, when the index item is referred to in a relationship field on another item, the full Strapi object is still indexed.

I think an addition similar to #265 is required which adds a field like "searchIndexRelationshipReferenceField" to the Model object, that enables a single field to be chosen fro

[2021-10-06 10:46] bidoubiwa commented on #219
Hey! @paulpopus you can create a script with meilisearch-js do add them: [this example](https://github.com/meilisearch/meilisearch-js/blob/main/tests/env/node/getting_started.js) should cover what you need.

[2021-10-06 10:47] bidoubiwa commented on #42
@alfie-bowen thanks a lot! I will be reviewing all the PR's in the coming weeks. Feel free to ask additional questions if needed

[2021-10-06 12:31] joremysh commented on #44
the backend API is in meilisearch right? maybe you could open another issue for it.
could you assign the issue to me?

[2021-10-06 19:18] harish2704 commented on #42
@alfie-bowen

The bug you mentioned is possible.
I didn't taken that case into consideration while sending this PR. ( I was not aware about this case )

Thanks for pointing this out.

In a quick thinking, a solution came into my mind. I m sharing it here FYI.

**Solution:**

The best place to handle above mentioned case is [`cleanData` function ](https://github.com/harish2704/strapi-plugin-meilise

[2021-10-09 14:32] joremysh commented on #44
We can do sth like this to toggle password visibility.
https://www.javascripttutorial.net/javascript-dom/javascript-toggle-password-visibility/

We can also set the value to be '****' if msApiKey exists.

[2021-10-13 14:55] ablaas opened #279 "API Key Label in Strapi Admin should be improved to avoid confusion"
**Description**
The actual KEY label in the Meilisearch Plugin Admin page is a bit confusing, as it reads: "API Key".
This is the Meili MASTER KEY, so it should be handled with care.

To avoid confusion, I suggest to improve the label to reflect the importance of this key.
It should also alert that this is the MASTER Key for Meili and must NOT be used in frontends or meili-strapi clients.

Also, t

[2021-10-20 13:28] bidoubiwa opened #284 "Add possibility to chose the name of the index"
Currrently imagine you have a collection `restaurant` when clicking on the checkbox it will by default create an index called `restaurant`.

It would be interesting to have a feature where the user can define what the name of the index ought to be.

[2021-10-28 13:52] bidoubiwa opened #289 "WIP: UI components to add"
The following configurations should also be updatetable through the admin interface  and not only the config file.

- [ ] Chose the index name a collection should have in meilisearch
- [ ] Chose the fields to index in MeiliSearch
- [ ] Chose which sub-field of a related collection should be kept.

[2021-10-28 14:49] bidoubiwa opened #290 "Add functions that validates integrity of config file"
In collection model users will be able to add a configuration file specifically for meilisearch.

For example in the `restaurant` model

[code]

We should ensure  for example that
- transformEntry is a function
- searchindexName is a string

[2021-10-28 15:01] bidoubiwa opened #291 "Add logger"
Using `strapi.logs` we should be adding logs in some places to raise errors, warnings and relevant information.

[See related documentation](https://strapi.gitee.io/documentation/3.0.0-beta.x/concepts/logging.html)

[2021-11-02 04:02] jbelke opened #296 "Bulk Document Indexing"
**Description**
Location: admin/plugins/meilisearch
As a User, when using the Meilisearch Strapi plugin, and utilizing the Update Button with a 1000+ data-set.

**Expected behavior**
Document count out of total will increment/transfer.
Currently sitting at: 0/1195 using the Update Feature.

**Current behavior**
Nothing happens.
When manually un-publishing/republishing an item in the collection, th

[2021-11-02 10:17] bidoubiwa commented on #296
Thanks @jbelke I'm looking into this :)

[2021-11-02 17:44] bidoubiwa commented on #296
Hey @jbelke I think this PR solves the issue: https://github.com/meilisearch/strapi-plugin-meilisearch/pull/287

I tried it locally and it works.

[2021-11-03 15:35] jbelke commented on #296
Great! Looking forward to the PR being merged.

[2021-11-10 21:06] bidoubiwa opened #310 "Change all outdated documentation links"
⚠️ Only once #288 has been merged

A lot of files have headers to Strapi documentation pages. A lot of them are obsolete.

Example:
[code]

They should either be removed or updated with correct urls.

[2021-11-13 05:34] trantran199 commented on #310
can I try it? can you guide me?

[2021-11-15 14:31] bidoubiwa commented on #310
Hello @trantran199
A lot of the files in the repository have a comment at the top of the file with the documentation about the related topic. For example in: https://github.com/meilisearch/strapi-plugin-meilisearch/blob/843aa801a675879dac0f8a7bd5bd15be765d0f77/config/functions/bootstrap.js

[code]

They should be checked because a lot of them are dead links. Using the current [doc of strapi](https

[2021-11-17 11:26] bidoubiwa opened #313 "Better naming in Admin panel"
The naming of the different columns might be a bit confusing and should be revised

[2021-11-17 11:47] bidoubiwa opened #314 "Change console.log of errors with error tool of strapi"
Strapi provides a service for logging `strapi.log`, we should use this instead of console.error(e).

With the following syntax `[MeiliSearch]: ${errorMessage}`

[2021-11-17 11:56] bidoubiwa opened #315 "Add users collection to the collection that you can add to MeiliSearch"
For the moment, for a reason I don't really know, when fetching all collections in Strapi it does not return the `Users` collection. Meaning that it does not appear on the dashboard, which result that you can not index Users to MeiliSearch.
<img width="1363" alt="Screenshot 2021-11-17 at 12 56 02" src="https://user-images.githubusercontent.com/33010418/142196277-c0c5d75d-8b69-46f3-b5fb-3f7faa64f66

[2021-11-23 19:48] bidoubiwa opened #317 "Extended permission handler"
With the introduction of #316 the MeiliSearch plugin routes are now only accessible by `super-admin` users of the `admin panel`.

To further improve the permissions of the plugin the best way to handle it is using the `users-permissions` plugin.

For inspiration [see this plugin](https://github.com/VirtusLab-Open-Source/strapi-plugin-comments).

Permissions should be made for:
- add a collection t

[2021-11-23 20:30] bidoubiwa commented on #279
Hey @ablaas i made the PR to fix this https://github.com/meilisearch/strapi-plugin-meilisearch/pull/320 do you think it is more clear now?

[2021-11-23 20:34] bidoubiwa commented on #61
Couln't reproduce the bug, considered fixed.

[2021-11-23 20:34] #61 closed

[2021-11-23 21:56] ablaas commented on #279
Nice!!!! Let's see it in PROD soon ;)
Thanks @bidoubiwa

[2021-11-26 15:42] bidoubiwa commented on #44
Less useful since #191

[2021-11-26 15:43] bidoubiwa commented on #86
Confirmed it is!

[2021-11-26 15:43] #86 closed

[2021-11-29 15:16] #191 closed

[2021-11-29 15:16] #42 closed

[2021-11-29 15:16] #112 closed

[2021-11-29 15:16] #193 closed

[2021-11-29 15:16] #218 closed

[2021-11-29 15:16] #249 closed

[2021-11-29 15:16] #279 closed

[2021-11-29 15:16] #284 closed

[2021-11-29 15:16] #117 closed

[2021-11-29 15:16] #126 closed

[2021-11-30 16:27] haye-webbio opened #327 "Extend the meilisearch object with MeiliSearch settings"
**Description**
Currently it is only possible to change the MeiliSearch settings of an index by making an API request to MeiliSearch after a collection type is indexed. It would be nice to extend the MeiliSearch object that was added with the 0.4.0 release with optional [MeiliSearch settings](https://docs.meilisearch.com/reference/features/settings.html).

**Basic example**
With the 0.4.0 release

[2021-12-01 10:03] bidoubiwa commented on #327
Hey @haye-webbio, if you are willing to contribute it shouln'd be to hard to add:

- Create a function in the `collection` connector called `getSettings`
- The same way as the function `getIndexName`, get the `settings` from the config file
- [In this line](https://github.com/meilisearch/strapi-plugin-meilisearch/blob/main/connectors/meilisearch/index.js#L281), fetch the settings with `const setti

[2021-12-01 10:15] haye-webbio commented on #327
Sure! :)

[2021-12-02 17:49] #327 closed

[2021-12-06 06:18] GaiheiluKamei opened #331 "is this plugin support strapi v4.0.0 ?"
**Description**
When i use strapi v3.6.8, with the following command
[code]

Then strapi dashboard Plugin part appear **Meilisearch**, now i use strapi v4.0.0 with the same command, dashboard doesnot show "Meilisearch" Plugin anymore.

[2021-12-06 15:14] #270 closed

[2021-12-06 16:36] bidoubiwa commented on #331
Hello! The migration to v4 is on its way, see this repo https://github.com/meilisearch/strapi-plugin-meilisearch-v4.
You can follow the completion here:
#271

[2021-12-06 16:40] bidoubiwa commented on #313
fixed by: #288

[2021-12-06 16:40] #313 closed

[2021-12-06 16:41] bidoubiwa commented on #296
fixed be #288 Could you confirm @jbelke ?

[2021-12-06 16:41] bidoubiwa commented on #291
duplicate of #314

[2021-12-06 16:41] #291 closed

[2021-12-06 16:42] bidoubiwa commented on #264
fixed by: #288

[2021-12-06 16:42] #264 closed

[2021-12-06 16:42] bidoubiwa commented on #219
fixed by #329

[2021-12-06 16:42] #219 closed

[2021-12-06 16:43] bidoubiwa commented on #211
fixed by #288

[2021-12-06 16:43] #211 closed

[2021-12-06 16:43] bidoubiwa commented on #156
You now have to explicitely click on the checkbox since v0.4.0. Does this solve your issue?

[2021-12-06 16:44] bidoubiwa commented on #89
It is possible with admin credentials of the administration panel using the route `POST /services/meilisearch/collection`

[2021-12-06 16:44] #89 closed

[2021-12-06 16:44] bidoubiwa commented on #64
Partially fixed by: #288

[2021-12-07 07:20] GaiheiluKamei commented on #331
Thank you so much for reply, seems this plugin have not support strapi v4 fully, in this case i will down my strapi version to v3.6.8.

[2021-12-09 17:09] bidoubiwa commented on #331
closed in favor of #271

[2021-12-09 17:09] #331 closed

[2021-12-14 08:55] andyalex234 commented on #271
When I'll the migration be completed? No pressure but I kinda need it ASAP.

[2021-12-14 10:37] bidoubiwa commented on #271
It is delayed due to the documentation being not mature enough. Strapi should release guides in January that will facilitate the migration. You can see with Strapi how they are getting along with that.

Until then unfortunately I will be working on other projects of MeiliSearch.

[2021-12-15 09:37] cortopy commented on #271
The docs for migrating plugins to v4 are already out: https://strapi.io/blog/v4-plugin-migration-guide

They also did a [webinar](https://lu.ma/strapi-plugins) explaining this last week. The link opens the recording

[2021-12-15 10:11] bidoubiwa commented on #271
I read and watched both. They are not complete and if you watch the webinar you can hear two of my questions being answered by `it is not documented`, one question answered by ` I don't know` and this is without counting the numbers of `It is not written in the doc` said during the coding session.

Also, the migration guide has errors in it, broken links, I raised them and they were not updated.
I

[2021-12-17 15:19] cortopy commented on #271
that's a very fair assessment. Thanks @bidoubiwa for being on top of all of this!

[2021-12-28 10:47] tention opened #334 "How to filter document before sending to MeiliSearch?"
Currently the plugin will sync every single records to MeiliSearch by default. How do we limit or exclude certain document from sending to MeiliSearch?

For example I want to exclude all document from a collection type "book" with the column status of "deleted" from getting indexed.

Thanks

[2021-12-28 23:03] v4dkou opened #335 "Incorrect `config/plugins.js` example"
The JS `meilisearch` library expects the API Key to be provided in camelCase.
However, the configuration object in the sample uses snake_case.

[code]

Tripped me up, as after following the tutorial I got the "MeiliSearchApiError: The X-MEILI-API-KEY header is missing." error.
Done some digging around to see what went wrong and found that this configuration object goes straight to `meilisearch` li

[2021-12-29 15:08] v4dkou commented on #317
To provide context for anyone else

Strapi CE ships with 3 default roles: Super Admin, Editor and Author.

Editor and Author don't have permissions to configure MeiliSearch, but they still see the menu option.
Clicking on it will redirect you to the login page due to the uncaught 401 error.

![editor](https://user-images.githubusercontent.com/20208614/147675881-037e15c0-23cf-46e4-bbf9-9eddfa0f736e

[2022-01-03 12:09] bidoubiwa commented on #317
Clicking on it will redirect you to the login page due to the uncaught 401 error.

Yes, unfortunately! This needs to be fixed

[2022-01-03 12:10] bidoubiwa commented on #335
Thanks a lot for raising and fixing this issue 🔥

[2022-01-03 12:14] #335 closed

[2022-01-03 12:32] bidoubiwa commented on #334
Hello @tention ! We should create another method similar to [`transformEntry`](https://github.com/meilisearch/strapi-plugin-meilisearch#transform-sent-data) that does not sanitize the content of the entries but give the possibility to filter some documents out.  It should be named `filterEntry` (or other if a better idea is suggested).

For the implementation we can reproduce the same as the one o

[2022-01-07 02:43] davidho8087 opened #337 "MeilliSearchTimeOutError: timeout 5000ms exceeded on process"
Hi guys. I got this error while creating 150K documents for indexing.

[MeilliSearchTimeOutError ]: timeout of 5000ms has exceeded on process 201 when waiting for pending update to resolve.

May I know how to solve this issue?
What settings / attributes and filename should I look into for code changes / customization?

Thanks.

![image](https://user-images.githubusercontent.com/12009185/148482475-

[2022-01-12 19:59] Tocas97 opened #338 "Unpublishing content type entry does not remove index unless you manually update it"
**Description**
Unpublishing a content type entry via the official Draft/Publish plugin causes an inconsistent behavior with the Meilisearch plugin.
Unpublishing does not remove the entry from the index, unless the whole index is manually refreshed via the plugin's page.
Publishing the entry does automatically add it, so this can not be solved with a ```publicationState``` property or similar.

**

[2022-01-18 03:52] felipe-fontes opened #340 "It must use the bearer authorization method"
Guys, I'm trying to integrate my strapi with meilisearch in azure. I deployed using the `getmeili/meilisearch:latest`. I can use normally in postman or flutterweb. but the plugin doesn't work, I keep getting the same error
```{"message":"The Authorization header is missing. It must use the bearer authorization method.","code":"missing_authorization_header","type":"auth","link":"https://docs.meilis

[2022-01-18 16:50] brunoocasali commented on #340
Hello @felipe-fontes how are you?

Could you please send me the package version that you are using?
Because we released a few days ago the new version of MeiliSearch server https://github.com/meilisearch/MeiliSearch/releases/tag/v0.25.0 and we released a new version of [strapi-plugin-meilisearch](https://github.com/meilisearch/strapi-plugin-meilisearch/releases/tag/v0.5.0) that supports the v0.25.

[2022-01-18 19:38] felipe-fontes commented on #340
Omg!!!, I lost 10h trying to fix it, thinking that was cors or something in azure. Thank you so much.
I had version 0.4.1 of strapi-plugin-meilisearch.

[2022-01-18 19:38] #340 closed

[2022-01-18 20:31] brunoocasali commented on #340
OMG! 😆

I'm glad I could help! Thanks for using MeiliSearch! 🎉 🌮

[2022-01-19 14:47] alliuca commented on #268
Hey, is it possible to add a collection created by a custom plugin at the moment (even with workarounds)? Seems to be related to this. I don't see such collections appear in the plugin's interface, so I assume only the manually created ones are currently supported.

[2022-01-25 08:58] Uluwatta commented on #271
Hey @bidoubiwa thanks a lot for checking on this
Planing on using meilisearch with strapi v4, I'm not familiar with strapi old/new apis but let us know if we can contribute to this somehow

we'll also go through the new plugin development docs :+1:

[2022-01-27 10:05] Tragio commented on #271
Hello @bidoubiwa 👋

The new plugin migration docs were released yesterday. Does it cover what is needed? 🤔

https://forum.strapi.io/t/plugin-migration-guide-for-v4-is-live/14962/
https://docs.strapi.io/developer-docs/latest/update-migration-guides/migration-guides/v4/plugin-migration.html

[2022-01-27 10:37] bidoubiwa commented on #271
I will be looking at that very soon :) I need to finish some important tasks before I come back to Strap. It shouldn't take to long

[2022-01-27 18:03] bidoubiwa commented on #268
Not for the moment unfortunately. I'll try to provide a way  to index all collections from any source.  If done it will be in the plugin version compatible with strapi v4

[2022-01-27 18:05] bidoubiwa commented on #338
Hey @Tocas97
You are absolutely right. I forgot to add a listener to the `unpublish` action. Let me add that to the important features to add

[2022-01-27 18:07] bidoubiwa commented on #337
Hello @davidho8087
Unfortunately when the dataset is to big my function doesn't handle well the long waiting times. A quick solution should be to improve the timeout. Meanwhile, your documents should still be indexed correctly. Is it the case?

[2022-01-28 05:31] davidho8087 commented on #337
Thanks for the reply, yes, indeed indexed correctly. however it is quick slow to perform indexing.

![image](https://user-images.githubusercontent.com/12009185/151492553-2aa5c428-82b3-4485-b2f7-bcb8224a6775.png)

[2022-01-28 09:41] alliuca commented on #268
gotcha, thanks @bidoubiwa

[2022-02-08 09:42] bidoubiwa commented on #337
Hey @davidho8087
The indexation time is something our team is working on. It is planned for the next months to make indexation faster!

[2022-02-08 12:58] bidoubiwa commented on #337
Hey @davidho8087
Just a small update after talking with a team member. A reason why the indexation is very slow is that the documents are sent one by one. How did you add the documents? Did you click on the checkbox or did you add the documents one by one into strapi using their own API? Knowing how it happens might help improve the script if possible

For the faster indexation, it will be because

[2022-02-09 12:20] davidho8087 commented on #337
Hi @bidoubiwa
Thanks for prompt response.  Here is my finding and hope your team make this plugin amazing.

**1) Real Time POST Request ( 10 documents per sec for 40K documents )**
I did click the checkbox with listener ( Active ) from zero records and performed a stress test by pumping Post Request of 10 documents per seconds.

FYI , Here is the gap result.

**Beginning**
![MeiliStart](https://us

[2022-02-15 17:48] Tocas97 commented on #124
Hey everyone!

This use case is not urgent for me, though it will be handy when I get around to implementing full website search on a project I'm working on, but I just wanted to chime in a little bit. I think the solution that could potentially avoid any future problems or incompatibility with other plugins would be to treat single types the same as collection types.
Even Strapi itself (at least

[2022-03-08 10:03] marco-r-volpato commented on #271
Hey @bidoubiwa thanks for your work on the plugin. Any idea when it will be up & running? Tried to install it yesterday and got nowhere (perhaps i'm doing something wrong 🤦). Cheers! 🍻

[2022-03-08 15:20] bidoubiwa commented on #271
It will be ready for the [Strapi conf](https://conf.strapi.io/) on the 16 march :)

[2022-03-08 23:40] marco-r-volpato commented on #271
Amazing 🥂

[2022-03-11 13:13] nka-joel commented on #334
This whould be a great feature. Any updates on this?

[2022-03-12 15:46] bidoubiwa commented on #334
Hello! It is already added in the v4 migration. Which comes out this week!

[2022-03-15 11:27] bidoubiwa opened #348 "Add destroy and disable buttons"
There is apparently a possibility to disable or destroy the plugin at runtime. I couldn't find in a short term how to do this but the visual component already exists: https://github.com/meilisearch/strapi-plugin-meilisearch/blob/main/admin/src/containers/Settings/PluginActions.js

Only missing is the action once you click on `disable` or `destroy`

[2022-03-15 14:04] bidoubiwa opened #351 "v4 add cypress tests"
v4 plugin compatibility does not make a cypress e2e tests. This means that it will not be trying out its compatibility with every new version of meilisearch-js.

[2022-03-15 18:39] bidoubiwa commented on #296
Considered fixed!

[2022-03-15 18:39] #296 closed

[2022-03-15 18:39] #337 closed

[2022-03-15 18:39] #334 closed

[2022-03-15 18:39] #315 closed

[2022-03-15 18:39] #290 closed

[2022-03-15 18:39] #310 closed

[2022-03-15 18:39] #44 closed

[2022-03-15 18:39] #124 closed

[2022-03-26 17:08] fluidadsjtr opened #366 "Strapi plugin"
The strapi plugin stops inserting records, it gets to 1699062 of 2608577

products | Yes | No | products | 1699062 / 2608577 | Active
(see screenshot below)

I am using the new batch command, and have tried different setting but it always stops at 1699062.
/home/ubuntu/meilisearch/meilisearch --log-level='TRACE' --enable-auto-batching --max-batch-size=400000 --max-documents-per-batch=400000 --debo

[2022-03-26 17:08] fluidadsjtr opened #384 "Auto-batching: missing documents when indexing"
The strapi plugin stops inserting records, it gets to 1699062 of 2608577

products | Yes | No | products | 1699062 / 2608577 | Active
(see screenshot below)

I am using the new batch command, and have tried different setting but it always stops at 1699062.
/home/ubuntu/meilisearch/meilisearch --log-level='TRACE' --enable-auto-batching --max-batch-size=400000 --max-documents-per-batch=400000 --debo

[2022-03-28 12:05] bidoubiwa commented on #366
Hello! So I made a script to calculate the number of documents that should have indexed to Meilisearch

[code]

The result is indeed `2608577`.  I looked at your other logs and there were no mistakes. So indeed I think it is an error with the auto-batching. There is no reason the error comes from strapi database or the plugin as all documents were sent as task to Meilisearch as per your task logs.

[2022-03-29 08:54] yourvrtours commented on #366
Hmmmmmm, we seem stuck at 1.7m for the last 8hrs :( (first 12hrs did 1.7m), I’m not using auto batch.  I have previously done json import of 500k at a time and loaded 3.2m records.

Help?

John

Sent from my iPhone

On 28 Mar 2022, at 14:06, cvermand ***@***.***> wrote:

﻿

Hello! So I made a script to calculate the number of documents that should have indexed to Meilisearch

const results = requi

[2022-03-29 08:57] fluidadsjtr commented on #366
I had changed batch size to 50k

Sent from my iPhone

[2022-03-29 08:58] MarinPostma commented on #366
@yourvrtours this is very strange, and your CPU is idle? Can you send me the output of `/tasks`?

[2022-03-29 09:01] curquiza commented on #366
(Following the @bidoubiwa comment (https://github.com/meilisearch/strapi-plugin-meilisearch/issues/366#issuecomment-1080566988) looks like this is indeed a Meilisearch issue, coming back to Meilisearch, sorry)

[2022-04-08 21:51] sargreal opened #372 "Excessive amounts of indexing requests with many entities"
**Description**
When creating many entities in succession, the indexing becomes very slow after about 20 entities.

The context where this bug occured is when creating seeds through the strapi entityService, i.e. about 100 articles one after the other.

I suspect that the bug is in the lifecycle hooks, i think in the following code in line 249 it seems like the lifecycles are registered recursivel

[2022-04-08 22:09] sargreal commented on #372
Confirmed: After uncommenting the mentioned line the indexing is much faster as expected.

However the errors are still shown one time and now in opposite order (for the last 2 entries):
[code]
The one with id 570 is actually not indexed, the one with id 569 is:
![Screenshot_2022-04-09_00-05-10](https://user-images.githubusercontent.com/19500573/162538146-943fb84c-9c8c-4c7b-98e7-8c6c755577ea.png)

[2022-04-13 09:46] bidoubiwa commented on #372
Hello @sargreal
Just to confirm that I understood your issue

- When you are seeding the database, if Meilisearch is hooked it is adding all documents on every seed?
- After some time, Meilisearch indexation becomes very slow because of the amount of document addition it is doing?

This is the primary information I can provide
- If you seed data from a collection that is hooked with Meilisearch, i

[2022-04-13 14:49] sargreal commented on #372
Hi @bidoubiwa

So to make things clear first, the issue itself is not actually constrained to the seeding but involves anywhere, the lifecycles are involved (creating entries through the **api**, **admin panel** or the **entityService**). The reason for why I stated it, is because that was the context where the issue first occured.

Minimal Example to reproduce:
- Setup the playground and meilisea

[2022-04-13 15:12] bidoubiwa commented on #372
Hey @sargreal this is indeed an issue. I will have to try it out and re-create it. It may be linked to this issue https://github.com/meilisearch/meilisearch/issues/2279

I will need to try it out, thanks a lot for your investigation.

[2022-04-17 16:40] sargreal opened #376 "Data indexed by lifecycle subscription depends on population and field settings of request"
**Description**
The lifecycle subscription is called with the exact data that is requested by the user. Currently, this is also exactly the data that is indexed. So if a user creates an entry with default population settings (none), no fields are populated in the data that is indexed. Also when the user manually selects the fields that he wants in the response, the other fields will also not be in

[2022-04-18 06:37] monkeydaichan opened #383 "Doesn't start to index."
I tried to connect mailisearch from strapi.
But it doesn’t work… 😢 :
I click collection’s checkbox on strapi, but it doesn’t work…
I add plugin `strapi-plugin-meilisearch` and added plugins.js.

[code]
**Version**
strapi: v4.1.5
node: v14.19.1
docker: 20.10.13
Mac: Big Sur 11.6.11 (Intel chip)
mailisearch: 0.26.1

[code]

I saw logs, but error doesn’t…

[code]

[2022-04-18 06:42] monkeydaichan commented on #383
Solved.
strapi container mounted volume of mailisearch..

[2022-04-19 11:33] bidoubiwa commented on #376
Hey @sargreal thanks for your issue :) I will be looking into this bug very soon.

[2022-04-20 11:19] CaroFG opened #385 "Command "strapi build" does not work"
In the README: the command `strapi build` returns `strapi: command not found`.  Replace it with `npm run build` or `yarn build`

[2022-04-20 12:32] bidoubiwa commented on #385
To make `strapi build` work strapi should be installed globally in your environment. Wich I did not explain in the README.md.
By default, I think a strapi app has the `npm run build` command which uses the local Strapi.

Could you try this one out?

[2022-04-20 13:42] CaroFG commented on #385
`npm run build` works perfectly fine

[2022-04-21 10:50] #385 closed

[2022-04-21 16:05] dzcpy commented on #383
How did you resolve it?

[2022-04-22 01:19] dzcpy opened #386 "Change `transformEntry` function in `plugin.js` to async"
**Description**
As per documentation, currently `transformEntry` can handle all fields within a content which is neat. Howevrer `entry` doesn't contain any fields of it's relation fields' relations. Like for example if there is a multi-level category and I want to get each sub-categories it belongs to, then it's quite difficult. What about changing the `transformEntry` a bit, so it can load async

[2022-04-25 10:09] bidoubiwa commented on #386
Oh I did not think bout that. It is a very good idea.

This should be changed [here](https://github.com/meilisearch/strapi-plugin-meilisearch/blob/main/server/services/meilisearch/config.js#L55):

[code]

Into the following:

[code]

+ Updating the documentation and tests

The same can be applied to `transformEntry` [here](https://github.com/meilisearch/strapi-plugin-meilisearch/blob/aad2a1e480280

[2022-04-25 10:11] bidoubiwa opened #389 "Change `filterEntry` function from `plugins.js` to async"
See detailed equivalent implementation for `transformEntry`
- issue  #386
- PR: #387

TODO:
- [ ] change `filterEntry` to be async compatible (see example here #386 )
- [ ] Update the tests
- [ ] Update the docs

[2022-04-25 10:15] bidoubiwa commented on #383
I'm curious as well!

[2022-04-25 11:06] paulpopus opened #390 "Creating new unpublished content indexes it until the update is re-run"
**Description**
When you create a new item with an initial state of unpublished, it will be indexed until the update hook is ran again to be unindexed.

**Expected behavior**
New items in an unpublished state should not be indexed.

**Current behavior**
New item with an unpublished state is indexed.

**Screenshots or Logs**
![image](https://user-images.githubusercontent.com/35137243/165076619-c025

[2022-04-25 14:18] paulpopus commented on #390
Yes strapi v4 and this is the transform hook

[code]

[2022-04-27 06:38] dzcpy commented on #383
For me it turned out to be some required fields were empty in the database. It was data issue.

[2022-04-27 09:12] aloulouamine commented on #263
Hello,

Any news about this issue ?

[2022-04-27 12:06] #386 closed

[2022-04-27 12:51] bidoubiwa commented on #263
Hello not yet. Do you have an idea on how you would like it to be showcased on the plugin page?

[2022-04-27 12:53] bidoubiwa commented on #85
Hello @abhijeet007rocks8  I have removed the assignement as we have no news from you! Feel free to open the PR anyway.

[2022-04-27 22:11] dzcpy opened #396 "Support `afterUpdateMany`?"
**Description**
Currently when doing update using `updateMany`, meilisearch won't change it in its database.
`error: Meilisearch could not find an example on how to access the `afterUpdateMany` hook. Please consider making an issue to explain your use case`

**Basic example**

**Other**

[2022-04-28 06:08] vaish567 commented on #351
Hello @bidoubiwa , I would like to work on this issue.

[2022-04-28 15:34] bidoubiwa commented on #372
Hey @sargreal

Indeed, you are right. The issues comes from this line:
[code]
in the multiple addition method.

I thought it would not cause any issue as I wrongly thought I could not subscribe two times to the same content-type.
This part of the code is clearly missing some types but they are not easy to set up as it is a very complex process from A to Z.

I'm doing a PR to fix this. It is not do

[2022-04-28 16:24] Caligulaa opened #398 "Collections not loading after plugin install strapi 4.1.8"
Anyone having issues loading content on the content manager when using the strapi-meili-search plugin? I'm stuck on the loader when try to access the data when that plugin is installed.

Dev env

Ubuntu 20.04
node 16.13.1
strapi 4.1.8

[2022-04-28 16:45] bidoubiwa opened #399 "Add a debounce/throttle on document addition"
**Description**
Strapi has not a lot of ways to add documents in batches. Most ways to achieve entry addition is one by one. While it is not a problem with a small number of document addition, if a user add's thousands of document at the time the web-server starts to reject new webserver calls, or abort new additions to its own database.

[code]

[code]

[code]

Another issue is that Meilisearch d

[2022-04-28 20:50] sargreal commented on #372
@bidoubiwa Yes #397 fixes the issue as expected! :tada:

[2022-04-29 14:29] bidoubiwa commented on #398
Hey @Caligulaa I think it is due to a bug reported here #372 The fix is done here #397 It will be released next week.

[2022-04-29 14:30] #383 closed

[2022-04-30 02:18] dzcpy commented on #396
I developed a custom controller and need to use `strapi.db.query()` to call it..

[2022-04-30 18:08] bidoubiwa commented on #396
Hey @dzcpy
I triggered `afterUpdateMany` on a random update. Unfortunately, it does not return the id's of the entries that were updated.

Since I do not have access to the id's I cannot know which entry should be updated in Meilisearch. The only solution would be that I re-index the whole collection into Meilisearch. Which I'm not sure is something we want.

example on this update:
[code]

The re

[2022-04-30 18:16] bidoubiwa commented on #376
Hey, @sargreal I'm coming back to this issue and I'm not sure I clearly understand what is happening.

What do you mean, the data that is requested? The hooks only triggers on update/delete/creation

And what is population?

If you can give me a step by step way to observe the issue that would be fantastic!

[2022-04-30 19:09] sargreal commented on #376
Hey @bidoubiwa

When creating/updating or deleting an entry in strapi, one always gets the entry as a result (See for example [Create an entry with REST](https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/rest-api.html#create-an-entry)).

This returned data is the same data that passes through the lifecycle methods (just not with the id / attributes layout). M

[2022-04-30 19:13] bidoubiwa commented on #390
The fix should be released this week :)

[2022-05-02 12:09] #389 closed

[2022-05-02 16:56] #372 closed

[2022-05-02 16:56] #384 closed

[2022-05-02 16:56] #390 closed

[2022-05-03 13:16] bidoubiwa commented on #398
Hey @Caligulaa normally it should be fixed! Tell me if otherwise

[2022-05-03 13:16] #398 closed

[2022-05-04 18:36] Caligulaa commented on #398
Appears to be a-ok. Thank you will be doing quite a bit of testing in the next few weeks will keep you updated if i ran into anything.

[2022-05-05 11:40] bidoubiwa opened #409 "Remove support for node 12 and ensure support for node 18"
Node version compatibilities should be changed in the tests and the readme.

See [related issue](https://github.com/meilisearch/integration-guides/issues/196).

### Previous ensured compatibilities:
- Node 12
- Node 13
- Node 14

### New compatibilities to ensure:
- Node 14
- Node 16
- Node 18

## TODO:

- [ ] Update requirements/compatibilities in README.md.
- [ ] Update node versions tested in C

[2022-05-08 08:50] nhvu1988 commented on #376
@sargreal @bidoubiwa I have the same issue so have fixed it in PR #410, could you please help to check and give a comment? Thank you!

[2022-05-17 13:50] bidoubiwa commented on #376
Hey @paulpopus could you create a new issue with your request of settings?

[2022-05-17 16:39] paulpopus opened #423 "Custom populate options per entity"
Related to: https://github.com/meilisearch/strapi-plugin-meilisearch/issues/376#issuecomment-1123932008

**Description**
It'd be very useful to have custom populate options per content/entity type so that we have more control over what data gets indexed and we have access to it in the transform functions.

I imagine a config like this would be fine

[code]

**Basic example**
Sometimes you have mor

[2022-05-18 08:40] bidoubiwa commented on #423
Thanks a lot for your suggestion. It is indeed a good idea to add this as a possible setting. At least from what I can see.

Meanwhile, another possibility would be to populate inside the `transformEntry` function, where you'd be able to fetch your entry with all the options you'd like and add it to the returned entry.

[2022-05-18 12:27] oluademola opened #424 "Failed syncing nested fields with Strapi plugin"
### Discussed in https://github.com/meilisearch/meilisearch/discussions/2388

<div type='discussions-op-text'>

<sup>Originally posted by **pedrogaudencio** May 11, 2022</sup>
Hi there!

I’m having an issue when I update a collection-type entry that is nested inside a component/single type/collection. Not sure if this case is already referenced but I couldn't find it anywhere.

Example:
1. Create

[2022-05-18 22:33] pedrogaudencio commented on #424
@oluademola I'm guessing along with the collection type update there could be a way to specify rules for `populate` including _various component or relation fields by passing an array of attribute names_ as described in the [documentation](https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/entity-service/populate.html#basic-populating):

[code]

Maybe it could

[2022-05-21 17:09] DrMint opened #425 "Missing nested component fields inside another component field"
**Description**

Hi, the setup process was straight forward and Meilisearch looks easy to use. However I'm facing a problem with the fields that was sync to Meilisearch.

Step to recreate:

- Create a collection in Strapi called "collection".
- Create a repeated component named "repeatedcomponent"
- Create a field in that component named "name"
- Create a non-repeated field in that component named

[2022-05-21 17:53] DrMint commented on #425
Sorry, I've just realized it's probably related to #424

[2022-05-23 09:15] bidoubiwa commented on #425
Hey @DrMint I'm currently adding the populate setting in order for you to specify which nested fields you'd like to be fetched as well. :) I'll keep you up to date

[2022-05-23 09:16] bidoubiwa commented on #424
It's on its way!

[2022-05-23 09:18] DrMint commented on #425
Awesome! Thank you for your reply and hard work

[2022-05-23 14:34] bidoubiwa commented on #424
@oluademola

Unfortunately we are bound to [the triggers of Strapi](https://docs-next.strapi.io/developer-docs/latest/development/backend-customization/models.html#available-lifecycle-events) to update documents.

What is happening when you link a collection to meilisearch

On Article:
- Adds all Article to an index called `article` in Meilisearch
- Subscribe the `Article` collection to the Strapi

[2022-05-23 14:55] bidoubiwa commented on #425
Hey @DrMint would you have an example of a `populate` that fetches these nested fields?

[2022-05-25 11:36] bidoubiwa commented on #425
Found one!

[2022-05-25 13:21] #423 closed

[2022-05-25 13:21] #425 closed

[2022-05-25 13:25] #376 closed

[2022-05-25 15:03] paulpopus commented on #423
Sorry for not replying on this issue, been out on leave...

This setting looks amazing, we'll try it out, thanks for your work.

In the future I'd still like to explore an populate override in the cases where people have prewritten populate objects that they want to re-use across services/plugins.

[2022-05-26 07:41] oluademola commented on #424
Hi @pedrogaudencio

Have you considered trying out this workaround?

[2022-05-27 11:01] pedrogaudencio commented on #424
Thanks for the follow up.

@bidoubiwa @oluademola you're suggesting implementing `childOf` or `relationshipWith` as a setting in the plugin, correct? Can this be done the same way as #427 by introducing a new task within [actionInBatches](https://github.com/meilisearch/strapi-plugin-meilisearch/blob/e814e4e16e215d21e2ab415f5010a3fc51a137be/server/services/meilisearch/connector.js#L286-L290)?

[2022-05-29 19:57] bidoubiwa commented on #424
Another possibility which may open more possibilities is to add the hooks as a setting. We could add the following as settings:

- `afterCreate`
- `afterUpdate`
- `afterDelete`

Which would trigger at the end of the current hook. To take back the example of `Author` and `Article`.
I update an `Article`, first it triggers the current `afterUpdate` hook.

[code]

// In the settings:

[code]

With th

[2022-06-02 15:48] DrMint commented on #425
Hi, sorry I've only been able to check it this afternoon. Unfortunately, I can't seem to be able to do anything with it.

Here's my package.json
[code]

My config/plugins.js (based on the examples in the readme):
[code]

Here's what the content-type is:
![image](https://user-images.githubusercontent.com/29893320/171667754-ead21689-49c2-4213-96ba-03ebf1c1b234.png)

And what I get on Meili dashboard

[2022-06-09 11:21] pedrogaudencio commented on #424
Those suggestions all seem very interesting. Do you know if there's already something in place?

[code]

This was kinda what I was aiming towards with my suggestion of triggering the parent document update by calling the Meilisearch plugin controller. As you say, this is possible using the hooks provided by Strapi and probably the cleanest solution at this point. Although it's likely that the entr

[2022-06-09 12:40] bidoubiwa commented on #424
I think you can call have access to `transformEntry` by using the strapi API like this:
[code]

[2022-06-18 22:21] Glassback opened #438 "Cannot get populateEntryRule Working. Need Help."
Hello,

I have a website that display companies that will display all the therapist that work on that company that will display all the therapies the therapist can do.

So I have a relation between companies and therapists and therapists to therapies.
A company can have various therapists and a therapist can work for various therapists.
A therapist can practice various therapies and a therapy can

[2022-06-20 11:44] bidoubiwa commented on #438
Hello!
For clarification I have a few questions.

When you use `populateEntryRule` which fields are not displaying in Meilisearch? Did you try using the same `populate` rule as in this one in the configs of Meilisearch:

[code]

Also:

`Compagnies` has a many to many relationship with `therapists`
`Therapists` has a many to many relationship with `therapies`

Lastly, I think the error comes from t

[2022-06-20 12:28] Glassback commented on #438
Hello @bidoubiwa,

Thanks for help. I manually update Meilisearch on Strapi. Do I need to change something?

Thanks!

[2022-06-23 09:25] bidoubiwa opened #444 "Update the plugin version compatible with strapi v3 up to date with the latests version of Meilisearch"
Currently we only maintain the version of this plugin that is compatible with Strapi v4. Nonetheless, a lot of users are still using [the plugin in a Strapi v3](https://github.com/strapi/strapi/tree/v3.6.9) environment.

As we receive more and more requests for that compatibility we consider maintaining the plugin version compatible with strapi v3.

We cannot guarantee a deep maintenance on bugs o

[2022-06-30 04:40] vietlongn commented on #338
Sorry, this issue is not fixed yet. Tested on version 0.6.6.

[2022-06-30 13:14] bidoubiwa commented on #438
Hello @Glassback sorry for the late reply.

What do you mean with manually updated Meilisearch on strapi?

[2022-06-30 13:43] bidoubiwa commented on #338
Hey @vietlongn I did not realize you were using strapi v3! The fix has been introduced in the plugin compatible with strapi v4.

Since there are a lot of users still using strapi v3, could you upvote this ?

https://github.com/meilisearch/strapi-plugin-meilisearch/issues/444

[2022-07-04 06:59] iiiboy commented on #444
If you have carried out this work, then I would be very grateful.

---

[code]

I use `filterableAttributes: ['category.slug']` but it not work in `meilisearch v0.26`. When I used meilisarch 0.27.2 to get back to normal.

[2022-07-18 15:48] LiquidITGuy opened #467 "afterDeleteMany seems to be not implemented yet"
**Description**
When we try to delete many articles from the interface (even only one but selected from the interface) we have the error `Meilisearch could not find an example on how to access the `afterDeleteMany` hook. Please consider making an issue to explain your use case`

**Expected behavior**
Deleted entries should be removed from meilisearch too

**Current behavior**
`Meilisearch could no

[2022-07-20 16:23] bidoubiwa commented on #467
Hey @LiquidITGuy

I tried to make `afterDeleteMany` trigger in the past but I never managed to. When I deleted multiple entries they were redirected to `afterDelete`. It may have been added in a recent release of Strapi. Nonetheless, could you show me how you triggered this hook?

[2022-07-21 16:01] LiquidITGuy commented on #467
@bidoubiwa thanks for your answer
it may be added in the last version of strapi maybe
I trigger this hook just by clicking on several checkboxes on a collection and click on delete

`content-manager > my collection > select some entries > Delete`

[2022-07-25 10:09] bidoubiwa commented on #467
Thanks @LiquidITGuy I will look into this!

[2022-07-25 11:07] bidoubiwa commented on #438
Hey @Glassback did you find a solution to your issue?

[2022-07-25 12:36] Glassback commented on #438
Hey @bidoubiwa , My issue was solved by updating the plugin and the Meilisearch version to the lastest one.

Thanks for your help!

[2022-07-25 17:08] bidoubiwa commented on #396
hey @dzcpy

I added afterUpdateMany here #471

[2022-07-26 11:11] #396 closed

[2022-07-26 20:08] bidoubiwa commented on #467
Its released!

[2022-07-28 16:42] LiquidITGuy commented on #467
@bidoubiwa thanks for your reactivity.
I tried to upgrade the version 0.7.1 but the bug still remains (not the same way)

the error does not appear in the logs but the index does not seems to be updated.

Tried with strapi 4.2.3, upgrading plugin,
rebuild strapi
run dev strapi
disable the sync of the entries and re-enable it to remake the index then try multiple delete

<img width="1328" alt="Capt

[2022-08-01 10:09] bidoubiwa commented on #467
Re-opening

[2022-08-01 10:21] bidoubiwa commented on #467
It seems to work for me:

I deleted 3 entries and it went from 6200 to this:

<img width="145" alt="Screenshot 2022-08-01 at 12 20 01" src="https://user-images.githubusercontent.com/33010418/182127936-cc467541-b275-40e7-9fa3-15ef8e82486a.png">

How are you deleting the entries?

[2022-08-01 17:15] LiquidITGuy commented on #467
@bidoubiwa I select some entries in my collection then click on delete.
I'll try it again tomorrow.

[2022-08-08 14:04] LiquidITGuy commented on #467
The 0.7.1 version seems to add some regressions (The unpublish does not remove the index on meilisearch nor the delete one with meilisearch 0.28)
I will open a new issue with more informations

[2022-08-08 14:15] bidoubiwa commented on #467
Well, that is very annoying. I don't have time right now to look at it but I will try to work on it asap

[2022-08-08 14:28] LiquidITGuy opened #487 "Unpublish, delete and delete many does not unindex content on meilisearch anymore"
**Description**
Since the 0.7.1 plugins version (to fix afterDeleteMany a working hook), the `unpublish`, `delete` and `deleteMany` hooked methods do not work anymore to unpublish entry in meilisearch.

**Expected behavior**
When we click on unpublish or delete; the deleted or unpublished content should be unindexed from meilisearch.

**Current behavior**
no error log nor de-indexing content

**En

[2022-08-09 09:44] bidoubiwa commented on #487
I have a hard time reproducing this error as it works in my local environment.
Could you try the playground that is on this repo if you have time? Or can we maybe talk on the community slack to have more efficient back and forth ?

[2022-08-09 12:46] LiquidITGuy commented on #487
@bidoubiwa I have the same behaviour by cloning the project.
I just joined the slack

[2022-08-09 16:14] LiquidITGuy commented on #487
If someone have the same purpose ( can be in 0.7.0 and 0.7.1) :  (insert data works but nor delete or unpublish entry )

On our side, we were using the transformEntry to change the id to corresponding to our slug in meilisearch.
By doing that the id of the meilisearch content does not match with the deleted one.
to fix that, we just set the id to the corresponding id.

## Before (with bug)
[code]

[2022-08-09 16:16] LiquidITGuy commented on #467
It works very well in the 0.7.1 cf issue [487](https://github.com/meilisearch/strapi-plugin-meilisearch/issues/487) for the explaination of why it does not work on our case

[2022-08-09 16:16] #467 closed

[2022-08-09 18:00] #487 closed

[2022-08-27 13:59] rortan134 opened #495 "Meilisearch refused /indexes connection"
**Description**

When using meilisearch with docker, i'm currently getting this error after opening the Meilisearch tab in the strapi dashboard

[code]

Opening the same tab in my browser with no master key set returns the correct info.
Error happens with or without master key set.

**Expected behavior**

Strapi request goes through.

**Current behavior**

Strapi request to meilisearch /indexes fa

[2022-08-30 12:31] bidoubiwa commented on #495
Hello @rortan134 ! This seems to be an error in your docker file I think.

Anyway, unless mistaken, this is not linked to the strapi plugin. Maybe you can find more information on running a Meilisearch with docker on the main [meilisearch repo](https://github.com/meilisearch/meilisearch/).

[2022-09-05 06:42] PaperjetStudios opened #504 "Index not found?"
Hey there,

So I set up meilisearch on my Strapi setup a while ago, and I ticked a model I've got called "Products". This works perfectly, everything about it is good.

Then now I'm trying to add my "Store" model and it's giving me error: meilisearch: Index `store` not found. error when I click the checkbox on the strapi backend.

Do you know where I've gone wrong? Or point me in the right directi

[2022-09-05 08:46] bidoubiwa commented on #504
Hey @PaperjetStudios, is indexing still working with other collections?
What Meilisearch version are you using (not the plugin but the database)?

[2022-09-07 13:59] bidoubiwa commented on #495
Closing this as it is not something linked to this plugin

[2022-09-07 13:59] #495 closed

[2022-09-07 14:32] oluademola opened #506 "Not able to populate all data by Meilisearch pluging using populateEntryRule in my strapi project"
### Discussed in https://github.com/meilisearch/meilisearch/discussions/2747

<div type='discussions-op-text'>

<sup>Originally posted by **giri943** September  6, 2022</sup>
I am trying to integrate meilisearch in my Strapi Project. While integrating and testing meilisearch I found that the plugin is failing to fetch all the data, especially when the data is located inside a deeply nested array.

[2022-09-08 12:21] bidoubiwa commented on #506
Hello @oluademola

This behavior is very weird as we do not alter the populate rule before sending it to the Strapi API.

https://github.com/meilisearch/strapi-plugin-meilisearch/blob/e7e65609187c01fcbb6f86f7982d6b0245af8442/server/services/content-types/content-types.js#L167-L193

Are you using the same Strapi API as the one from the code example above?

[2022-09-25 12:35] sauldeleon commented on #263
Looking forward for this! In my use case, I have localized entries for a blog, and that includes the title and the content.

I cannot search all the entries because of this! Thanks for supporting this feature!

[2022-10-01 09:48] stattmal commented on #263
Hey any news on this issue? Would be very nice indexing also localized entries.

[2022-10-03 09:33] bidoubiwa commented on #263
Hey @stattmal! We are working on it as soon as we have a bit of type. Sorry for the delay

[2022-10-10 14:10] LiquidITGuy opened #536 "configure batch size"
**Description**
The batch size is now at 500 content.
When we have a lot of data (more than 10k) it's should be faster to have a bigger amount.

It should be great if we could configure the batch upload number for upgrade in plugin.

[2022-10-10 17:08] bidoubiwa commented on #536
Hey @LiquidITGuy

I'm currently implementing this option! I'll come back to you as soon as it is live :)

[2022-10-10 18:13] LiquidITGuy opened #537 "feedback status when tasks are running"
**Description**
When we try to update or make the first sync on big amount of data a lot of tasks can be in queued.
Because no feedback are seen, we may check the box many time and juste crash the cloud or make sync append many times.

It should be great to add a feedback about how many indexing operations left and add a warning if too many of them are left before clicking on update

**Basic examp

[2022-10-11 09:08] bidoubiwa commented on #537
Are you expecting that feedback to be showcased on the dashboard, if yes, any suggestion how? Or in the logs of strapi ?

[2022-10-12 12:07] #536 closed

[2022-10-12 12:07] #85 closed

[2022-10-12 12:07] #263 closed

[2022-10-12 13:25] bidoubiwa commented on #537
What about this ? https://github.com/meilisearch/strapi-plugin-meilisearch/pull/539

[2022-10-12 14:04] bidoubiwa commented on #263
Released in [v0.8.0](https://github.com/meilisearch/strapi-plugin-meilisearch/releases/tag/v0.8.0). You can try it out :)

[2022-10-12 14:07] bidoubiwa commented on #504
Hey @PaperjetStudios is this still an issue?

[2022-10-12 15:05] PaperjetStudios commented on #504
Sorry, I ended up reinstalling it all and that seemed to have worked.

<https://paperjetstudios.co.za/>

On Wed, Oct 12, 2022 at 4:07 PM cvermand ***@***.***> wrote:

[2022-10-12 15:06] bidoubiwa commented on #504
Perfect! Happy to hear that :)

[2022-10-12 15:06] #504 closed

[2022-10-21 14:43] MarekBodingerBA opened #553 "Sensitive fields are removed after transforming them"
Hello,

I've wanted to wrap my data in a new object by transforming it:
[code]

When I did that, I noticed that some sensitive fields appeared. After a bit of investigation, I've noticed that sensitive fields are removed after the transformation, not before, which I believe is wrong.

[2022-10-24 09:49] bidoubiwa commented on #553
Indeed, thanks a lot Marek! I'm even questioning if this `removeSensitiveFields` method should exist. Maybe some users might want them. Meanwhile, your issue is valid and should be accepted :) I'll flag it as breaking-change in case some users were relying on that information.

[2022-10-24 10:10] #553 closed

[2022-10-27 14:18] matepaiva commented on #537
I think he is talking about the dashboard feedback. My usecase is somehow related to it.

I have a large collection with a hundred of thousands of entries. When I click it, I have no feedback, but it is even worst: my backend timeouts after 1 minute, so I never receive a feedback.

My suggestion is:
1. As soon as the backend receives the request, it responds successful and it marks it;
2. Start po

[2022-10-27 14:28] matepaiva opened #561 "Access via API"
**Problem**
Meilisearch a known bug with the size of `data.ms` folder. The only workaround for now is to delete the folder. (https://github.com/meilisearch/product/discussions/517)

**Solution**
I want to make a cron task that:
1. deletes the folder and
2. sync again my strapi content with meilisearch using the plugin.

For the 2nd item, I would need the plugin to expose an API so I can request th

[2022-10-27 20:36] brunoocasali commented on #561
I answered in the discussion https://github.com/meilisearch/product/discussions/517#discussioncomment-3985854 so maybe we could close it here, unless you have something to add @bidoubiwa :)

[2022-10-28 14:17] stattmal opened #562 "Auto indexing after docker restart"
Hey guys,

is there a way to auto index a collection-type after the docker container restarts. So if I turn on indexing within my Strapi backend and do a docker restart, I have to turn on indexing again over the UI.

Doing that code based would be amazing, otherwise I have to log in into Strapi after each deployment.

Thanks :)

[2022-10-31 10:42] bidoubiwa commented on #561
Closed as discussion was moved to product repo

[2022-10-31 10:42] #561 closed

[2022-10-31 11:02] bidoubiwa commented on #537
Hey @matepaiva
This seems like a great addition :) I'll let this open for any contributor that might want to work on this as I don't have the time right now. Meanwhile, adding the logs in the back-end might help a bit.

Unless I misunderstand, this is already notified no?

It does that yes

the `indexing` column on the dashboard is `true` until the tasks are done.

But indeed it is hard to see, ma

[2022-11-02 13:13] bidoubiwa commented on #562
Hey @stattmal, you can either create a script that uses the API of the plugin
`meilisearch/collections/:collection`, `:collection` being your content type name.

Or you can create a custom script with [meilisearch-js](https://github.com/meilisearch/meilisearch-js/)

[2022-11-09 17:54] hamzaahmed074 commented on #506
I am facing the same problem @bidoubiwa my case is I have to tables
Inventory and product
inventory has one product
there can be multiple inventory that targets a single product so common items/fields are in product. When i index inventory i get all the fields in product but not products media items/ images or any other relationship product has
**This is my Inventory**
`{
  "kind": "collectionType

[2022-11-09 17:55] hamzaahmed074 commented on #506
how can I receive information from the nested nested field

[2022-11-10 09:56] bidoubiwa commented on #506
Hey @hamzaahmed074 , what is your populate rule ? Did you try it directly using the strapi API to ensure it works ?

[2022-11-10 17:34] hamzaahmed074 commented on #506
I have not set any populate rule can you tell me how and where to set those ?

[2022-11-10 23:04] Florian-crg opened #573 "My plugin config are not being taken from the plugin.js"
**Description**
My plugin config are not being taken.

**Expected behavior**

When everything is set on the plugin.js I should not have to add my settings through the STRAPI frontend. Neither access the Setting panel

**Current behavior**
I have to set my settings in the Setting panel on the STRAPI frontend

**Environment (please complete the following information):**
- OS: macOS  Ventura 13.0
- M

[2022-11-14 10:00] bidoubiwa commented on #506
Using this setting: https://github.com/meilisearch/strapi-plugin-meilisearch#-entries-query you can add a `populate` field which contains the rules to fetch your nested objects.

https://docs.strapi.io/developer-docs/latest/developer-resources/database-apis-reference/entity-service/populate.html#basic-populating

[2022-11-14 10:41] bidoubiwa commented on #573
Hey @Florian-crg, not sure I understand! What do you mean with your `settings`?

You credentials can be added in plugin.js here: https://github.com/meilisearch/strapi-plugin-meilisearch#-add-credentials-

[2022-11-14 16:44] hamzaahmed074 commented on #506
@bidoubiwa It works thanks can you guy update the docs as this was hard to find

[2022-11-14 17:55] Florian-crg commented on #573
By settings I mean the stuff that you set in the setting tab. (host and API key)

I did forget on the plugins.js  the to insert my field nested on a `config` object as shown on your README. They were directly on the meilisearch object.

Sorry for the inconvenience ! And thanks for your answer !

[2022-11-14 17:55] #573 closed

[2022-11-14 21:23] joepio opened #579 "Unable to open plugin page / UI on Strapi Admin"
Hi there! I'm playing around with strapi and meilisearch, but I got stuck in the [`getting started` section](https://github.com/meilisearch/strapi-plugin-meilisearch#-getting-started). I installed the plugin, and it is appearing in the `plugins` page, but I fail to see other UI elements mentioned in the Readme.

**Expected behavior**

See meilisearch plugin UI in strapi admin app, in settings or p

[2022-11-15 11:34] bidoubiwa opened #580 "Explain how to fetch nested collection in `EntriesQuery`"
Using the [`entriesQuery`](https://github.com/meilisearch/strapi-plugin-meilisearch#-entries-query) parameter, you can add a field named `populate` that helps you fetch nested collection.

See example

https://github.com/meilisearch/strapi-plugin-meilisearch/blob/85ca7d349e37ba887dcdb8c7343a26b805d1d645/resources/entries-query/populate.js#L1-L11

See doc in Strapi on how [populate](https://docs.st

[2022-11-15 11:35] bidoubiwa commented on #506
See #580 suggesting more information on `populate`. Closing as it is resolved :)

[2022-11-15 11:35] #506 closed

[2022-11-19 11:16] joepio opened #582 "`fetch failed` when trying to enables indexes - can't connect to localhost:7700 (solved: change localhost to 127.0.0.1)"
After getting strapi + meilisearch fully working, I tried setting it up again from scratch, only to find `fetch failed` errors when I'm trying to toggle indexing for types.

<img width="1033" alt="Screenshot 2022-11-19 at 12 05 54" src="https://user-images.githubusercontent.com/2183313/202847602-19c5dea0-5fce-4710-900e-f5d2a34b4f0b.png">

In the strapi logs I see this:

[code]

- I tried with and

[2022-11-21 17:08] bidoubiwa commented on #582
Hey @joepio I tried it locally using localhost and it works fine. Is it possible that it comes from the `host` file on your machine?

[2022-11-22 01:48] joepio commented on #582
@bidoubiwa thanks for reaching out!

I don't think so, my hosts file looks innocent:

[code]

[2022-11-22 10:43] bidoubiwa commented on #582
Hey @joepio, after asking around, this is apparently a bug that was introduced in Meilisearch v0.29 and that will be fixed in Meilisearch v0.30, which is released next week:

https://github.com/meilisearch/meilisearch/pull/2861

[2022-11-22 21:34] joepio commented on #582
@bidoubiwa  I've compiled and installed v0.30rc2, and can confirm that the issue has been fixed. Thanks!

[2022-11-22 21:34] #582 closed

[2022-11-23 10:11] Nish7156 opened #589 "In Strapi Not showing meilisearch field"
In Strapi Not show  meilisearch field, how can i connect

[2022-11-23 11:40] bidoubiwa commented on #589
Hey @Nish7156, i'm not sure I understand what you are asking for.
Do you want to know what fields are being indexed in Meilisearch? Are your fields not present in Meilisearch?

[2022-11-23 11:43] bidoubiwa commented on #562
Hey @stattmal, can I close this issue?

[2022-11-23 11:43] bidoubiwa commented on #444
Fixed by #542

[2022-11-23 11:43] #444 closed

[2022-11-23 13:31] stattmal commented on #562
Sure, thx for your support. Worked for me :)

[2022-11-29 19:00] GrizzlyHeart opened #600 "Create entry with image from Postman and from Admin Panel Strapi."
When I created entry from Panel Strapi, Meilisearch works fine, but if I create entry from Postman, all work the same, but I get {image:null}.
If I edit product(created from Postman) in panel Strapi and change any field and save, Meilisearch start indexing this entry correctly.
Can anyone could help me with this issue?